// Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal6', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 MDA US
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | As a Mechatronics Engineer at MDA US, I led the system integration and fabrication of a 7-axis robotic arm using existing commercial parts, which allowed MDA to have its first in-house robotics arm for R&D at an affordable price. I also developed a LabVIEW real-time software suite for robotic arms for motor control, sensor reading, and inverse kinematic motion. Additionally, I was responsible for the system design, integration, and development of a NASA AMES contract for building a 4-axis arm for their prototype Mars Rover. 
                                My work at MDA honed my skills in system integration, LabVIEW software development, and automated testing using NI products.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window