// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Motiv Robotics
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/circus.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | As a senior software engineer at Motiv Robotics, I led and managed the software team, interfaced with customers, and provided technical direction for the development of RoboMantis, a high-power quadrupedal robot for teleoperation. I developed obstacle avoidance algorithms and integrated VSLAM, localization, and traction control for optimal performance. I also architected the deployment, test and simulation infrastructure. I developed an extensive experience in ROS and open source robotics from this project.
                                At Motiv Robotics, I also served as a project engineer, leading and managing the software team and directing technical efforts for the development of RoboMantis, demonstrating my ability to effectively collaborate with cross-functional teams and deliver innovative solutions.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window