// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 JPL
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | At Jet Propulsin Labs, I led the test software development and automated testing for the Perserverance rover actuators; bridging flight software with flight hardware and verifying systems requirements in ambient and thermal conditions. My software sped testing by orders of magnitude, what took a few weeks to test and characterize, now can be accomplished in one day. My work at JPL honed my skills in software development, system integration, and automated testing.

                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window